[submodule "Private-ID"]
	path = match/Private-ID
	url = https://github.com/facebookresearch/Private-ID
	ignore = all
[submodule "Kunlun"]
	path = match/Kunlun
	url = https://github.com/nmn0gueira/Kunlun
	ignore = all
[submodule "volepsi"]
	path = match/volepsi
	url = https://github.com/nmn0gueira/volepsi
	ignore = all
